/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#f7f7f7;}
a,a:hover{color:#21759b;}
input[type="checkbox"]{vertical-align:middle;}

/* function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-fl{float:left;}
.f-fr{float:right;}

/* 统一设置背景图片 */
.u-icon,.u-btn,.btnc,.u-bd1,.u-bd2{background:url(../images/main.png) no-repeat 9999px 9999px;}

/* grid */
.g-usrc,.g-bd{width:990px;margin:0 auto;}
.g-top{height:27px;background:url(../images/bgtop.png) repeat-x;}
.g-usr{height:67px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:url(../images/bgusr.png) repeat-x;}
.g-bd{margin-top:11px;}
.g-sd{float:left;width:145px;}
.g-mn{float:right;box-sizing:border-box;width:835px;border:1px solid #ccc;padding:20px;background-color:white;}
.g-ft{margin:18px 0 8px 0;font-size:12px;text-align:center;}

/* module */
/* top链接模块 */
.m-links,.m-links li,.m-links a{height:27px;line-height:27px;}
.m-links{overflow:hidden;}
.m-links li,.m-links a{display:inline-block;}
.m-links a,.m-links a:hover{color:#666;font-size:12px;}
.m-links a.minor{color:#999;}
.m-links a .u-icon{vertical-align:middle;}
.m-links-sites{float:left;margin-left:20px;}
.m-links-psn{float:right;margin-right:20px;}
.m-links-sites li{margin-right:12px;}
.m-links-psn li{margin-left:15px;}
/* footer links */
.m-links2 li, .m-links2 a{display:inline-block;height:14px;line-height:14px;}
.m-links2 a{color:#7b7b7b;}
.m-links2 .u-icon{float:left;margin-right:2px;}
.m-links2 .sep{display:inline-block;margin:0 9px;color:#ddd;}
/* 用户信息模块 */
.m-usr{overflow:hidden;}
.m-usr .u-img{float:left;margin:5px 20px 0 0;}
.m-usr .greeting{margin:8px 0 6px 0;color:#666;font-size:18px;text-shadow:1px 1px white;}
.m-usr a{color:#666;}
/* 左侧导航模块 */
.m-nav{margin-bottom:20px;}
.m-nav .title,.m-nav ul{border:1px solid #ccc;border-right:1px solid #ccc;}
.m-nav .title,.m-nav li{height:27px;line-height:27px;}
.m-nav .text,.m-nav li{padding-left:30px;}
.m-nav .title{border-top:0;background:url(../images/bgnav.png) repeat-x;overflow:hidden;font-weight:bolder;}
.m-nav .u-icon{float:left;margin:4px 0 0 8px;}
.m-nav ul{border-top:0;border-bottom:0;background-color:white;}
.m-nav li:hover{background-color:#f8f8f8;}
.m-nav .z-crt, .m-nav .z-crt:hover{background-color:#ececec;}
/* 日志管理模块 */
.m-blogmag h1{margin-bottom:23px;font-size:20px;font-weight:normal;}
.m-blogmag .mn{float:left;width:548px;}
/* 标签页模块 */
.m-tabs{height:26px;margin-bottom:13px;border-bottom:1px solid #bbb;}
.m-tabs li, .m-tabs span{display:inline-block;width:90px;height:25px;line-height:25px;}
.m-tabs li{float:left;margin-left:-1px;border:1px solid #bbb;background-color:#f7f7f7;text-align:center;color:#21759b;cursor:pointer;}
.m-tabs li:first-child{margin-left:0;}
.m-tabs li.z-crt{background-color:white;border-bottom-color:white;color:#333;}
/* 表单模块 */
.m-form{overflow:hidden;margin-bottom:10px;padding:6px 8px 8px 8px;background-color:#ececec;}
.m-form .formitm{margin-bottom:5px;}
.m-form .formitm-1{margin-bottom:6px;}
.m-form .formbtns .u-btn{float:right;margin-left:7px;}
/* 列表模块 */
.m-list{margin-bottom:27px;font-size:12px;}
.m-list .lstitm{display:block;height:46px;padding:3px 3px 4px 20px;border-bottom:1px dotted #d9e1e6;}
.m-list .info1, .m-list .info1 a{height:21px;line-height:21px;color:#21759b;position:relative;}
.m-list .info1 a{display:inline-block;}
.m-list .info1 input[type="checkbox"]{display:inline-block;margin-right:9px;}
.m-list .info1 .oprts{margin-right:23px;}
.m-list .info1 .oprt{margin-left:15px;}
.m-list .info1 .u-icon-arrow-down{margin-left:4px;vertical-align:middle;}
.m-list .info1 .m-downlist{position:absolute;top:-1px;right:0;}
.m-list .info2{margin-left:22px;height:17px;line-height:17px;color:#7b7b7b;}
.m-list .info2 .date,.m-list .info2 .read,.m-list .info2 .comment{display:inline-block;}
.m-list .info2 .date{width:112px;}
.m-list .info2 .read{width:77px;}
.m-list .oprtsall{padding:9px 0 0 20px;overflow:hidden;}
.m-list .oprtsall .vhelper{display:inline-block;height:100%;vertical-align:middle;}
.m-list .oprtsall .oprt{margin-right:14px;vertical-align:middle;}
.m-list .oprtsall input[type="checkbox"]{margin-right:4px;}
.m-list .oprtsall button{padding:1px 6px;}
.m-list2{font-size:12px;}
.m-list2 .lstitm{display:block;height:40px;margin-bottom:11px;overflow:hidden;}
.m-list2 .u-img{float:left;margin-right:5px;}
.m-list2 .name, .m-list2 .title{height:19px;line-height:19px;}
.m-list2 .name{font-weight:bold;}
/* 下拉列表 */
.m-downlist{width:60px;padding-bottom:4px;border:1px solid #c8d9e3;background-color:white;z-index:9;}
.m-downlist li{padding-left:3px;height:20px;line-height:20px;}
.m-downlist li:hover{background-color:#ececec;}
/* 侧边栏模块 */
.m-side{float:right;position:relative;box-sizing:border-box;width:225px;height:306px;padding:12px 9px 13px 9px;background-color:#fafafa;border:1px solid #f5f5f5;border-top:0;border-bottom:0;}
.m-side .u-bd2-btm{position:absolute;left:0;right:0;bottom:0;}
.m-side .head{height:11px;margin-bottom:16px;line-height:11px;font-size:12px;color:#7b7b7b;font-weight:bold;}
.m-side .m-list2{height:254px;overflow:hidden;}
/* 标签页模块 */
.m-tagTabCnt{margin:48px 15px 0;padding-bottom:21px;border-bottom:1px dotted #d8e0e5;font-size:12px;color:#7b7b7b;text-align:center;}

/* unit */
/* 小图标 */
.u-icon{display:inline-block;}
.u-icon-email{background-position:0 0;width:15px;height:11px;}
.u-icon-house{background-position:-20px 0;width:16px;height:15px;}
.u-icon-msg{background-position:-40px 0;width:16px;height:16px;}
.u-icon-setting{background-position:-60px 0;width:14px;height:14px;}
.u-icon-smile{background-position:-80px 0;width:16px;height:15px;}
.u-icon-sub{background-position:-100px 0;width:14px;height:14px;}
.u-icon-man{background-position:0 -20px;width:10px;height:12px;}
.u-icon-arrow-down{background-position:0 -40px;width:7px;height:4px;}
/* 按钮 */
.u-btn,.u-btn .btnc{display:inline-block;height:22px;line-height:22px;color:#666;font-size:12px;cursor:pointer;}
.u-btn{padding-right:2px;background-position:right -82px;}
.u-btn .btnc{padding:0 9px 0 11px;background-position:0 -60px;}
.u-btn-1 .btnc{padding:0 24px 0 24px;}
/* 兼容IE6的边框 */
.u-bd1{width:145px;height:2px;}
.u-bd1-top{background-position:0 -160px;}
.u-bd1-btm{background-position:0 -165px;}
.u-bd2{width:225px;height:4px;}
.u-bd2-btm{background-position:0 -180px;}
/* 无边图片容器-默认定宽定高、图片拉伸 */
.u-img{display:inline-block;position:relative;width:50px;height:50px;}
.u-img img{display:block;width:100%;height:100%;}
/* 图片高适应 */
.u-img-ha,.u-img-ha img{height:auto;}
.u-img-1{width:40px;height:40px;}
/* 分隔符 */
.u-sprt{display:inline-block;width:1px;margin:0 12px;color:#ccc;}
/* 消息 */
.u-msg{color:#ff6600;}
/* 输入框 */
.u-ipt,.u-txt{display:block;box-sizing:border-box;width:100%;}
.u-ipt{height:23px;line-height:19px;padding:2px 12px;border:1px solid white;background-color:#f8f8f8;font-size:12px;color:#333;}
.u-ipt:focus{border:1px solid #bbb;}
.u-txt{min-height:94px;border:1px solid #bbb;background-color:white;padding:7px 11px;line-height:18px;font-size:12px;color:#a4a4a4;}
.u-company{margin-top:24px;color:#7b7b7b;}